################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ApiBreakPoint/ApiBreakPoint/Release/
/ApiBreakPoint/ApiBreakPoint/Debug
/ApiBreakPoint/.vs
*.lib
*.exp
/ApiBreakPoint/ApiBreakPoint/x64/Release/
*.pdb
/ApiBreakPoint/output/*.zip